* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 900px;
    width: 850px;
    margin: 0 auto;
    font-size: 10px;
    background-image: url(./richard.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(rgba(221, 216, 216, 0),rgba(207, 206, 202, 0)),url(./richard.jpg);
    height: 50vh;
}

header {
    width: 850px;
    height: 170px;
    background-image: url(./quan.jpg);
    background-repeat: repeat-x;;
    background-position:  left bottom;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(rgba(199, 217, 243, 0.5),rgba(167, 133, 97, 0)),url(./quan.jpg);
}

h1 {
    /* background-color: beige; */
    color: black;
    font-size: 36px;
    text-align: end;
    font-family: "Noto Serif TC", serif;
    font-weight: 400px;
    font-style: normal;
    padding-right: 30px;
}

.ul-1 {
    display: flex;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 660px;
    width: 60px;
    text-align: justify;
}


.li-1 {
    list-style: none;
    margin-right: 25px;
    font-weight: 500;
}

.li-1 a:hover {
    background-color: rgba(234, 202, 105, 0.5);
    border-radius: 30px;
   
}
.li-1 a {
    color: rgb(12, 98, 69);
    text-decoration: none;
    
}

article {
    background-color: rgba(171, 143, 113, 0.548);
}


/* section {} */


h3 {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
}

.p-1 {
    font-size: 16px;
    padding-left: 20px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.img-1{
    margin-left: 120px;
}

audio {
    margin-left: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside {
    background-image: linear-gradient(rgba(199, 217, 243, 0.5),rgba(167, 133, 97, 0)),url(./quan.jpg);
    background-repeat: repeat-x;;
    background-position:  left bottom;
    background-attachment: fixed;
    background-size: cover;
}

.h3-2 {
    padding-left: 10px;
    padding-left: 15px;
    font-family: "Noto Serif TC", serif;
}

iframe {
    margin-top: 10px;
    margin-left: 130px;
}

.ul-2 {
    background-color: #59a1ef;
    width: 270px;
    height: 30px;
    padding-left: 15px;
    border-radius: 5px;
}

.li-2 {
    font-size: 16px;
    list-style:none;
    display: flex;
    display: inline-block;
}

.li-2-2 {
    font-size: 16px;
    display: flex;
    display: inline-block;
    margin-left: 25px;
    text-decoration: none;
    
}
.li-2 a {
    text-decoration: none;
}

.li-2-2 a {
    text-decoration: none;
}

.iframe-2 {
    margin-left: 200px;
}

footer {
    background-color: #fff;
}

h4 {
    height: 40px;
    font-size: 13px;
    text-align: end;
    padding-right: 5px;
    background-color: rgba(235, 206, 143, 0),rgba(156, 138, 66, 0.18);
}


